<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="POST" action="." enctype="multipart/form-data">
        {%csrf_token%}
        <label for="fname">Title</label>
        <input type="text" id="debt" name="title">
        <label for="fname">Description</label>
        <input type="text" id="debt" name="description">
        <label for="fname">Amount</label><br>
        <input type="text" id="title" name="amount">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>

</html>