<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <!-- debtaker info -->
    <h1>Debt Taker Info</h1>
    <p>
        Name: {{debt_taker.first_name}} {{debt_taker.second_name}} <br>
        Phone: {{debt_taker.telephone}} <br>
        Email: {{debt_taker.email}} <br>

    </p>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #DDD;
        }

        tr:hover {
            background-color: #D6EEEE;
        }
    </style>

    <table>
        <thead>
            <tr>
                <th>ID </th>
                <th>Amount</th>
                <th>Date Created</th>
                <th>Description</th>
                <th> Link to Debt page</th>
            </tr>
        </thead>
        <tbody>
            {%for debt in debts%}
            <tr>
                <td>{{debt.ID}}</td>
                <td>{{debt.amount}}</td>
                <td>{{debt.created_time| date:'Y-m-d'}}</td>
                <td>{{debt.description}}</td>
                <td><a href="{%url 'debt-history' debt.ID%}">Link</a></td>
            </tr>
            {%endfor%}
        </tbody>

    </table>


</body>

</html>