<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>Transaction {{debt.ID}}</p>
    {% if status == 'minus' %}
    <form method="POST" action="{%url 'transaction-minus' debt.ID%}" enctype="multipart/form-data">
        {%elif status == 'plus' %}
        <form method="POST" action="{%url 'transaction-plus' debt.ID%}" enctype="multipart/form-data">
            {%endif%}
            {%csrf_token%}
            <label for="fname">Amount</label><br>
            <input type="text" id="title" name="value">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
</body>

</html>